################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/bin/Debug/net8.0
/Application/obj
/Domain/obj
/Infrastructure/bin/Debug/net8.0
/Infrastructure/obj
/COMPONENTS_GUIDE.md
/COMPONENTS_USAGE.md
/COMPONENT_INTEGRATION_COMPLETE.md

/SOLID_PRINCIPLES.md
/Domain/bin/Debug/net8.0
/API/bin/Debug/net8.0
/API/obj
/API/bin/Release/net8.0
/API/Properties/PublishProfiles
/Application/bin/Release/net8.0
/Domain/bin/Release/net8.0
/Infrastructure/bin/Release/net8.0
/API
